@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {

    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #F5F5F0 15%, #E6D8C3 100%);
    padding: 20px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #242323;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}
/*button {
    font-family: 'Inter', sans-serif;
    padding: 13px 15px;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
    background: linear-gradient(135deg, #ffffff 15%, #f0ffec 100%);
    color: #080808;
    margin: 15px;
    box-shadow: 0 8px 15px rgba(10, 8, 8, 0.3);*/


button {
    font-family: 'Inter', sans-serif;
    padding: 13px 15px;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
    background: linear-gradient(135deg, #ffffff 15%, #f0ffec 100%);
    color: #080808;
    margin: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(10, 8, 8, 0.3);
    

}
button:hover{
    cursor: pointer;
    transform: scale(1.1);

}
.container{
    display: flex;
    height: 140px;
    align-items: center;
    gap: 20px;


}
#color1, #color2, #color3, #color4, #color5{
    padding: 33px;
    border-radius: 10px;
    align-items: center;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    transition: all 5.ms;
    box-shadow: 0 8px 15px rgba(10, 8, 8, 0.3);
    transition: transform 0.30s;
}
.color-box:hover{   
    transform: scale(1.1);
}